body{
    background-color: #e9fbd8;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
header{
    align-items: center;
    display: flex;
    flex-direction: column;
}
header img{
    width: 150px;
    height: 150px;
}
nav{
    background-color: #90EE90;
    padding: 10px;
    text-align: center;
}
nav a{
    padding: 10px;
}
nav a:hover{
    background-color: #32CD32;
    color: white;
    border-radius: 5px;
}
section{
    text-align: center;
}
section b{
    color: green;
    font-size: 20px;
}
footer{
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}
footer a{
    color: violet;
}
img{
    border-radius: 10px;
}
table{
    margin: auto;
    border: solid;
    border-collapse: collapse;
    width: 80%;
}
th{
    background-color: #F2DD1F;
    padding: 10px;
    border: solid;
}
td{
    padding: 10px;
    border: solid;
}
td img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}
tr:hover{
    background-color: #90EE90;
}
form{
    text-align: center;
    width: 20%;
    margin: auto;
    background-color:lightgray;
    padding: 20px;
    border-radius: 20px;
}
input[type="text"], input[type="email"], textarea{
    width: 80%;
    height: 5%;
    padding: 10px;
    margin: 10px 0;
    border: solid 1px;
    border-radius: 5px;
}
input[type="submit"]{
    background-color: #32CD32;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}   
input[type="submit"]:hover{
    background-color: #228B22;
}
